<template>

    <div class="bg-white border-2 rounded-xl shadow-lg">
            <img class="w-full" src="../assets/img/gambar.png" alt="">
        <div class="p-5">
                <h1 class="font-bold text-2xl">Bahasa Indonesia</h1>
                <p class="text-gray-500 text-xl">Kelas | Sekolah Dasar</p>
        </div>

        <div class=" flex p-5">
            <div class="mr-4">
                <img src="../assets/img/foto.png" alt="">
            </div>
            <div class="text-lg">
                <h2 class="font-bold text-xl">Cici Sang Putri</h2>
                <p class="text-gray-500">Guru SDN 01 Pekanbaru</p>
            </div>
        </div>

        <div class="flex justify-between mt-5 mb-10 mx-5 items-center">
                <h1 class="font-bold text-lg">Rp.90.000</h1>
                <button class="rounded-lg font-bold p-2 border-2 border-blue-900 text-blue-900 hover:underline">Lihat Kelas</button>
        </div>
    </div>
</template>


<script>
    export default {
        name: 'card'
    }
</script>