<template>
  <div id="app">
    <div class="container mx-auto grid grid-cols-1 gap-2 p-5 sm:grid-cols-1 sm:gap-4 md:grid-cols-2 md:gap-6 lg:grid-cols-3 lg:gap-10">
      <card/>
      <card/>
      <card/>
      <card/>
      <card/>
      <card/>
    </div>
  </div>
</template>



<script>
import card from "./components/Card.vue";
import "./tailwind.css";

export default {
  name: 'App',
  components:{
      card,
  }
}
</script>